
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.revenue-pie{
  font-size: 13px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow-x: scroll;
  margin-top: 20px;
  align-items: center; 
  margin: 0 10px;
}
.revenue-pie::-webkit-scrollbar{
  display: none;
 }

