body::-webkit-scrollbar {
  width: 0.55px;
}
.itemcard {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-container {
  background-color: #4d44b5;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}
.orders {
  background-color: #fb7d5b;
}
.sales {
  background-color: #fcc43e;
}
.products {
  background-color: #303972;
}

.line {
  line-height: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  height: 100vh;
  background-color: #ffffff;
  overflow-y: scroll;
  min-height: 100%;
}
.left::-webkit-scrollbar {
  width: 5px;
  background-color: #f3f4ff;
}
.middle {
  height: 100vh;
  overflow-y: scroll;
  min-height: 100%;
}
.middle::-webkit-scrollbar {
  width: 5px;
  background-color: #f3f4ff;
}
.right {
  height: 100vh;
  background-color: #ffffff;
  overflow-y: scroll;
  min-height: 100%;
}

.right::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}

input[type="text"] {
  outline-color: transparent;
}

.search-btn {
  background-color: transparent;
  color: #4d44b5;
}

.text-deep {
  color: #303972;
}

.light-deep {
  color: #c1bbeb;
}

.gray-text {
  color: #b9b9b9;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f4ff;
  width: 80%;
}

.icons .card {
  margin: 0 0.5rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

.mail {
  border: 2px solid #b9b9b9;
  cursor: pointer;
}

.chat {
  height: 20rem;
  width: 100%;
  background-color: #fff;
}
.img-header {
  position: relative;
}
.img-header h5 {
  position: absolute;
  right: 4.5rem;
  font-size: 1.2rem;
}

.link {
  width: 100%;
}

.links:hover {
  background-color: #f3f4ff;
}

.sublink {
  display: block;
  margin-left: 4rem;
  color: #4d44b5;
}

.sublink:active {
  font-weight: bold;
}
