.itemcard {
  height: 6rem;
  display: flex;
  justify-content: center;
}

.img-container {
  background-color: #4d44b5;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}
.orders {
  background-color: #fb7d5b;
}
.sales {
  background-color: #fcc43e;
}
.products {
  background-color: #303972;
}

.line {
  line-height: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  height: 100vh;
  background-color: #ffffff;
}
.middle {
  height: 10rem;
}
.right {
  height: 100vh;
  background-color: #ffffff;
}

input[type="text"] {
  outline-color: transparent;
}

.search-btn {
  background-color: transparent;
  color: #4d44b5;
}

.text-deep {
  color: #303972;
}

.light-deep {
  color: #c1bbeb;
}

.gray-text {
  color: #b9b9b9;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f4ff;
  width: 80%;
}

.icons .card {
  margin: 0 0.5rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

.mail {
  border: 2px solid #b9b9b9;
  cursor: pointer;
}
