@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsThin;
  src: url(../fonts/Poppins-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
:root {
  --primary-orange: #fb7d5b;
  --primary-tomato: #f15744;
  --primary-yellow: #fcc43e;
  --primary-text: #303972;
  --primary-purplegray: #c1bbeb;
}
html,
body {
  scroll-behavior: smooth;
  background-color: #f3f4ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: PoppinsBold;
}

a {
  text-decoration: none;
}

.light-text {
  color: #b9b9b9;
  font-family: PoppinsThin;
  font-size: 0.75rem;
}

input::placeholder {
  font-family: PoppinsThin;
  font-size: 12px;
}

.bold-font {
  font-family: PoppinsBold;
  font-size: 12px;
}

.btn-auth {
  height: 3.125rem;
}
