:root{
    
}


.hospital_dashboard__card{
    border-radius: 15px;
    background-color: white;
    min-height: 7.5rem;
}
.hospital_dashboard__card__cursor{
    cursor: default
}
.hospital_card_circle{
    width: 3rem;
    height: 3rem;
    /* background-color: #4D44B5; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-tomato{
    background-color: #CB3F04;
}
.text-lights{
    color: #A098AE;
}

.hospital_grid{
    display: grid;
    
    grid-template-columns: repeat(4, 13rem);
    gap: 2rem;
}

.text-deeps{
    color: #303972;
}

  .doctors_card_grid{
    display: grid;
    grid-template-columns: repeat(3, 15rem);
    gap: 1rem;
    width: 90%;
  }

.MuiPickersCalendarHeader-root{
   padding: 0 1rem;
}

.css-cwhad8-MuiDateCalendar-root{
    width: 200px;
}



.fc .fc-daygrid-day-frame {
    min-height: 100%;
    position: relative;
}

.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
    border-radius: 4px;
    color: dodgerblue;
    border-color: #fff !important;
    font-weight: bolder;
    background-color: #F1F5FF;
}
.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected):hover{
    border-color: dodgerblue !important;
}


.event{
    white-space: nowrap;
    text-overflow: clip;
    
    width: 100%
    
}
