.contain {
  min-height: calc(100vh - 7rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login {
  width: 30rem;
}
.signup {
  width: 50rem;
}

.login-form-control {
  height: 50px;
  background-color: #f6f6f6;
  border: none;
}
.signup-form-control {
  width: 10rem;
}

.signup-btn {
  background-color: #4d44b5;
  color: #ffffff;
}
.signup-btn:hover {
  background-color: #3f379e;
  color: #ffffff;
}

.center-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.footer {
  height: 7rem;
  background-color: #4d41d3;
  border-top: 0.5rem solid #f69b2e;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.grid div {
  border-radius: 20px;
}

.card-img-top {
  height: 10rem;
  width: 15rem;
}

@media (max-width: 996px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .signup {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-img-top {
    height: 10rem;
    width: 100%;
  }
}
